In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/new_test.csv')
data

    Make  Type  Mileage  Price
0    BMW   car   115000   5555
1    BMW  bike    50000   6752
2  Honda   car     6000   7329
3  Honda  bike    12000   8965

1. Средний пробег по марке (GB)

In [ ]:
data.groupby("Make").Mileage.mean()

Make
BMW      82500.0
Honda     9000.0
Name: Mileage, dtype: float64

2. Средняя цена по типу (GB)

In [ ]:
data.groupby("Type").Price.mean()

Type
bike    7858.5
car     6442.0
Name: Price, dtype: float64

3. Срез строк в новый датафрейм для всех ТС с пробегом больше 12000

In [ ]:
data[data.Mileage > 12000]

  Make  Type  Mileage  Price
0  BMW   car   115000   5555
1  BMW  bike    50000   6752

4. Используйте clip() чтобы получить серию, где цены будут ограничены 5800-8000

In [ ]:
data.Price.clip(5800, 8000)

0    5800
1    6752
2    7329
3    8000
Name: Price, dtype: int64

5. Суммарный пробег мотоциклов.

In [ ]:
data[data.Type == "bike"].Mileage.sum()

62000